nav {
    background-color: #fff;

}

.header {
    background-color: #278ab5;
    width: auto;
    height: 50px;
    color: #fff;
    border: none;
    position: relative;
}

.header-line {
    height: 2px;
    background-color: #ccc;
}

.profile-image-button {
    width: 30px;
    height: auto;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
}

.profile-popup {
    position: absolute;
    top: calc(100% + 10px);
    right: 20px;
    background-color: #278ab5;
    border: 1px solid #278ab5;
    padding: 10px;
    z-index: 1;
}

.sidebar {
    background-color: #278ab5;
    color: #fff;
    width: 140px;
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;
}
.sidebar-button {
    background-color: #155778;
    align-items: center;
    width: 130px;
    height: 70px;
    box-sizing: border-box;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;
    align-items: center;
}

.sidebar-icon {
    align-items: center;
    width: 30px;
    height: 30px;
    align-items:start;
    margin-left: 5px;
    margin-right: 5px;
  }