.cnt {
  display: flex;
  background: #29eb39;
}

.leftcontainer {
  flex: 0 0 63%;
  background: #c5fdba;
  padding-top: 60px;
  margin: 5px;
}

.rightcontainer {
  flex: 0 0 36%;
  background: #c5fdba;
  padding-top: 60px;
  margin: 3px;
}

.rightcontainer-sub {
  margin: 10px;
}

/* Table container styles */
.table-container {
  width: 100%;
  height: 300px;
  overflow: auto;
}
/* Table styles */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}
/* Table header styles */
thead {
  background-color: #29eb39;
  position: sticky;
  top: 0;
}
/* Table header cell styles */
th {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

/* Table body row styles */
tbody tr:hover {
  background-color: #f5f5f5;
}

/* Table body cell styles */
td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

.selected {
  background-color: rgb(151, 241, 226); /* Change this to whatever highlighting style you prefer */
}

/* Highlight on row click */
tbody tr:hover {
  background-color: #ddd;
}

.ol {
  margin-top: 20px; /* Adjust margin as needed */
}

.ol ol {
  padding-left: 20px; /* Adjust padding as needed */
}

.ol ol li {
  margin-bottom: 5px; /* Adjust margin as needed */
  position: relative;
}

.ol ol li:before {
  content: (listItem);
  counter-increment: listItem;
  margin-right: 5px; /* Adjust margin as needed */
}

.ol ol li img {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  cursor: pointer;
}

.addtolist {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  margin-bottom: 20px;
}

.addtolist input[type="number"] {
  width: 50px;
  padding: 5px;
  margin-right: 10px;
}

.addtolist button {
  background-color: #0aa517;
  color: white;
  margin-right: 10px;
}

.addtolist button:hover {
  opacity: 0.8;
}

.submit-buttons {
  margin-top: 20px;
}

.submit-buttons button {
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

.submit-buttons button:hover {
  opacity: 0.8;
}

.submit-buttons button.print {
  background-color: #fc5555;
  color: white;
}

.submit-buttons button.submit {
  background-color: #0aa517;
  color: white;
}

.submit-buttons button.cancel {
  background-color: #444444;
  color: white;
}

.invoice-info {
  display: flex;
  flex-direction: column;
}

.info-row {
  display: flex;
  margin-bottom: 10px;
}

.info-title {
  font-weight: bold;
  margin-right: 10px;
}

.info-value {
  flex: 1;
}

/* Styles for the Stocks container */
.stockDiv {
  display: flex;
  flex-direction: column;
  background: #29eb39;
}

/* Styles for the Stock Table */
.stocktable {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
}

.stocktable th,
.stocktable td {
  padding: 8px;
  border: 1px solid #ddd;
}

.stocktable th {
  background-color: #f2f2f2; /* Header background color */
  font-weight: bold;
  text-align: left;
}

.stocktable tbody tr:nth-child(even) {
  background-color: #f2f2f2; /* Alternate row background color */
}

.stocktable tbody tr:hover {
  background-color: #ddd; /* Hover row background color */
}
